/* TextCard.module.css */
.textCard {
  background-color: #f3f4f6; /* Background color for text messages */
  padding: 10px;
  border-radius: 8px;
  max-width: 70%; /* Max width for the text card, adjust as needed */
  word-wrap: break-word; /* Break long words to prevent overflow */
  margin: 8px; /* Add spacing between text cards */
}

.mine {
  background-color: #0070ff; /* Different background color for user's own messages */
  color: white; /* Text color for user's own messages */
}

/* Add any other styling you prefer for text cards */
